In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [4]:
df = pd.read_csv("./spam.csv")
df.sample(5)

     Category                                            Message
2536      ham  Can you pls pls send me a mail on all you know...
718       ham  Book which lesson? then you msg me... I will c...
1334      ham         Oh... Icic... K lor, den meet other day...
5318      ham  Good morning, my Love ... I go to sleep now an...
2609      ham                          Hello madam how are you ?

In [5]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [7]:
df['spam'] = df['Category'].apply(lambda x: 1 if x == "spam" else 0)

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.2, random_state=2)

In [9]:
cv = CountVectorizer()
X_train_transform = cv.fit_transform(X_train.values)
X_test_transform = cv.transform(X_test)

In [10]:
model = MultinomialNB()
model.fit(X_train_transform, y_train)
y_pred = model.predict(X_test_transform)

In [11]:
model.score(X_test_transform, y_test)

0.9739910313901345

In [15]:
# Define a non-spam message
text = ['Free entry in 2 a wkly comp to win FA Cup final.']

# Transform the non-spam message using the CountVectorizer
text_transformed = cv.transform(text)

# Make prediction
prediction = model.predict(text_transformed)

# Mapping the prediction to human-readable labels
prediction_label = "Spam" if prediction[0] == 1 else "Not Spam"

# Output the prediction
print(f"The message is predicted to be: {prediction_label}")

The message is predicted to be: Spam