# Assignment no 4 part B
Name: Vishal Pattar \
Roll no: 33557 \
Class: TE AIML \
Subject: Machine Intelligence for Data Science

In [73]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [74]:
column_names = ['Sex', 'Length', 'Diameter', 'Height', 'WholeWeight', 
                'ShuckedWeight', 'VisceraWeight', 'ShellWeight', 'Rings']
df = pd.read_csv("./abalone.data", names=column_names)

In [75]:
df.sample(5)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
2814,I,0.275,0.200,0.055,0.0925,0.0380,0.0210,0.0260,4
2031,F,0.600,0.450,0.140,0.8370,0.3700,0.1770,0.2425,10
787,M,0.495,0.385,0.135,0.7090,0.2110,0.1375,0.2620,12
1542,I,0.360,0.265,0.075,0.1845,0.0830,0.0365,0.0550,7
1575,I,0.485,0.375,0.130,0.6025,0.2935,0.1285,0.1600,7

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sex            4177 non-null   object
 1   Length         4177 non-null   float64
 2   Diameter       4177 non-null   float64
 3   Height         4177 non-null   float64
 4   WholeWeight    4177 non-null   float64
 5   ShuckedWeight  4177 non-null   float64
 6   VisceraWeight  4177 non-null   float64
 7   ShellWeight    4177 non-null   float64
 8   Rings          4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [77]:
df.isnull().sum()

Sex              0
Length           0
Diameter         0
Height           0
WholeWeight      0
ShuckedWeight    0
VisceraWeight    0
ShellWeight      0
Rings            0
dtype: int64

In [78]:
df.describe()

,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [79]:
df['AgeClass'] = pd.cut(df['Rings'], bins=[0, 8, 10, 30], labels=['Young', 'Medium', 'Old'])

In [80]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['AgeClass'] = label_encoder.fit_transform(df['AgeClass'])

In [81]:
df.sample(10)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings,AgeClass
3560,2,0.570,0.470,0.155,1.1860,0.6355,0.2315,0.2770,10,0
2267,0,0.610,0.480,0.175,1.0675,0.3910,0.2160,0.4200,15,1
2937,2,0.625,0.515,0.165,1.2170,0.6670,0.2065,0.3115,10,0
2621,2,0.695,0.525,0.175,1.7420,0.6960,0.3890,0.5050,12,1
1960,0,0.650,0.510,0.185,1.3750,0.5310,0.3840,0.3985,10,0
2714,1,0.290,0.215,0.065,0.0985,0.0425,0.0210,0.0310,5,2
3877,0,0.645,0.500,0.225,1.6260,0.5870,0.4055,0.4100,15,1
1058,1,0.245,0.180,0.065,0.0710,0.0300,0.0130,0.0215,4,2
891,2,0.730,0.595,0.230,2.8255,1.1465,0.4190,0.8970,17,1
2197,1,0.405,0.305,0.105,0.3625,0.1565,0.0705,0.1250,10,0

In [82]:
X = df.drop(['Rings','AgeClass'], axis=1)
y = df['AgeClass']

In [83]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [84]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [85]:
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [86]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.6327751196172249

Classification Report:
               precision    recall  f1-score   support

           0       0.51      0.42      0.46       281
           1       0.66      0.71      0.68       276
           2       0.70      0.77      0.74       279

    accuracy                           0.63       836
   macro avg       0.62      0.63      0.63       836
weighted avg       0.62      0.63      0.63       836