# Assignment no 4 part A
Name: Vishal Pattar \
Roll no: 33557 \
Class: TE AIML \
Subject: Machine Intelligence for Data Science

In [27]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [28]:
column_names = ['Sex', 'Length', 'Diameter', 'Height', 'WholeWeight', 
                'ShuckedWeight', 'VisceraWeight', 'ShellWeight', 'Rings']
df = pd.read_csv("./abalone.data", names=column_names)

In [29]:
df.sample(5)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
1949,M,0.640,0.530,0.165,1.1895,0.4765,0.3000,0.3500,11
2711,I,0.190,0.140,0.030,0.0315,0.0125,0.0050,0.0105,3
1717,F,0.650,0.495,0.155,1.3370,0.6150,0.3195,0.3350,9
947,M,0.475,0.370,0.125,0.5370,0.2220,0.1215,0.1500,9
2667,F,0.585,0.450,0.150,0.9380,0.4670,0.2030,0.2250,7

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sex            4177 non-null   object
 1   Length         4177 non-null   float64
 2   Diameter       4177 non-null   float64
 3   Height         4177 non-null   float64
 4   WholeWeight    4177 non-null   float64
 5   ShuckedWeight  4177 non-null   float64
 6   VisceraWeight  4177 non-null   float64
 7   ShellWeight    4177 non-null   float64
 8   Rings          4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [31]:
df.isnull().sum()

Sex              0
Length           0
Diameter         0
Height           0
WholeWeight      0
ShuckedWeight    0
VisceraWeight    0
ShellWeight      0
Rings            0
dtype: int64

In [32]:
df.describe()

,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [33]:
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])
df['Sex'] = df['Sex'].astype('float')

In [34]:
df.sample(10)

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
3991,2.0,0.685,0.510,0.180,1.4545,0.6315,0.3105,0.3725,9
2002,1.0,0.360,0.270,0.085,0.1960,0.0905,0.0340,0.0530,7
98,2.0,0.470,0.370,0.130,0.5225,0.2010,0.1330,0.1650,7
1094,1.0,0.470,0.380,0.125,0.4845,0.2110,0.1075,0.1420,6
1869,1.0,0.525,0.400,0.145,0.6095,0.2480,0.1590,0.1750,9
3008,0.0,0.750,0.615,0.205,2.2635,0.8210,0.4230,0.7260,12
727,0.0,0.480,0.375,0.105,0.5250,0.2185,0.1195,0.1550,12
1316,2.0,0.555,0.440,0.140,0.8705,0.4070,0.1560,0.2550,9
1711,2.0,0.645,0.510,0.160,1.3300,0.6665,0.3090,0.3170,9
1493,1.0,0.615,0.475,0.130,0.8425,0.3530,0.1915,0.2510,8

In [35]:
X = df.drop('Rings', axis=1)
y = df['Rings']

In [36]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [38]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Mean Absolute Error:", mae)
print("R-squared:", r2)

Mean Squared Error: 5.062537954095226
Mean Absolute Error: 1.6305613844193185
R-squared: 0.5323381317508215

In [39]:
test = [[1.0,0.450,0.350,0.120,0.4680,0.2005,0.1065,0.1325]]
predict = model.predict(test)
print(int(predict[0]))

11